{% extends 'base.html.twig' %}

{% block title %}New TempsDePreparations{% endblock %}

{% block body %}
    <h1>Create new TempsDePreparations</h1>

    {{ include('temps_de_preparations/_form.html.twig') }}

    <a href="{{ path('app_temps_de_preparations_index') }}">back to list</a>
{% endblock %}
