<div class="row border border-grey shadow w-75 mx-auto mb-2">

<nav class="col-12 col-md-6">
    <h1 style="color: #e97D21;">Navigations</h1>
    <ul class="list-unstyled " >
        <li><a href="{{path ('app_main') }}" class="no-decoration" >Accueil</a></li>
        <li><a href="{{path ('app_recettes_index') }}" class="no-decoration">Ajouter une recette</a></li>
        <li><a href="{{path ('app_commandes_index') }}" class="no-decoration">Mes favoris</a></li>
        <li><a href="{{path ('app_main') }}" class="no-decoration">Apropos</a></li>
    </ul>

</nav>
    <section class="col-12 col-md-6">
        <h2 style="color: #e97D21;">A propos de GourmeTech</h2>
        <p>GourmeTech est une plateforme de recettes culinaires interactive développée dans le cadre d'un projet pédagogique.</p>
    </section>
</div>
<div class="row">
    <p class="text-center">&copy; 2025 GourmeTech - Tous droits réservés</p>
</div>



